@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --color-primario: #000000;
    --color-secundario: #f6f6f6;
    --color-terciario: #ff5733;
    --color-hover: #505050;

    --fuente-montserrat:"Montserrat", sans-serif;
    --fuente-krona:"Krona One", sans-serif;
} 

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.titulo-destaque{
    color: var(--color-terciario);
}

.subtitulo-destaque{
    color: var(--color-terciario);
}
.presentacion{
    padding: 3% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentacion_img{
    width: 40%;
}

.presentacion_contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo{
    font-size: 2rem;
    font-family: var(--fuente-krona);
}

.presentacion_contenido_texto{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion_enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_enlaces_subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}
.presentacion_enlaces_link{
    width: 50%;
    border: 2px solid var(--color-terciario);
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem; 
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion_enlaces_link:hover{
    background-color: var(--color-hover);
    cursor: pointer;
    padding: 3%;
}

.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family:var(--fuente-montserrat);
    font-size: 1.5rem; 
    font-weight: 400;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header_menu{
    display: flex;
    gap: 80;
}
.header_menu_link{
    font-size:  18px;
    font-family:var(--fuente-montserrat);
    color: var(--color-hover);
    margin:  0 10px;
    padding: 10px 15px;
    text-decoration: none;
}

.header_menu_link:hover{
    color: var(--color-terciario);
    cursor: pointer;
}

@media (max-width: 1200px ){

    .header{
        padding: 10%;
    }
    .header_menu{
        justify-content: center;
    }
    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .presentacion_contenido{
        width: auto;
    }
}